/TH2/node_modules
/TH2/package-lock.json
/TH2/package.json
/TH2/tsconfig.json

/TH4/node_modules
/TH4/package-lock.json
/TH4/package.json
/TH4/tsconfig.json

/BT1/node_modules
/BT1/package-lock.json
/BT1/package.json
/BT1/tsconfig.json